html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
a {
    outline: 0 none;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
    font-size: 0.8em;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
}

/* DEFAULT */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #111;
    font-family: sans-serif;
    color: #fff;
    font-size: 0.7em;
    line-height: 1.9em;
    letter-spacing: 0.0em;
    text-align: center;
}
body::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 0;
    height: 100%;
}

#player {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    position: relative;
    padding: 0 28px;
}


#player > #toggle {
    width: 72px;
    height: 72px;
    margin: 2px;
    position: absolute;
    bottom: 0px;
    left: 28px;
    border: 3px solid #222;
    border-radius: 6px;
    background: #000 url(images/buttons/play.png) no-repeat center;
    background-size: contain;
}
#player > #sources > .source.started,
#player.started > #toggle {
    border-color: white;
}

#player > #sources {
    display: block;
    text-align: right;
    position: absolute;
    bottom: 16px;
    right: 0;
    line-height: 0;
    padding: 0 28px;
}

#player > #sources > .source {
    width: 48px;
    height: 48px;
    margin: 0 2px;
    display: inline-block;
    border: 3px solid #222;
    border-radius: 6px;
    background-color: #000;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.clap { background-image: url(images/buttons/claps.png); }
.claves { background-image: url(images/buttons/claves.png); }
.crash { background-image: url(images/buttons/crash.png); }
.drums { background-image: url(images/buttons/drums.png); }
.bass { background-image: url(images/buttons/bass.png); }
.fx { background-image: url(images/buttons/fx.png); }
.arpeggio { background-image: url(images/buttons/arpeggio.png); }
.pad { background-image: url(images/buttons/pad.png); }

#player > #analyzer {
    position: relative;
    margin-bottom: 80px;
    width: 512px;
}
#player > #analyzer::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 100%;
}

#player > #analyzer > .strip {
    display: inline-block;
    vertical-align: bottom;
    color: white;
    border: 0px solid transparent;
    border-width: 0 2px;
    width: calc(100% / 32);
}
#player.lowfft > #analyzer > .strip {
    width: calc(100% / 24);
}

#player > #analyzer > .strip > .led {
    position: relative;
    background: #222;
    width: 100%;
    height: 12px;
    margin: 4px 0px;
}
#player > #analyzer > .strip > .led.active {
    z-index: 2;
    background: white;
}


#player > .knob {
    height: 188px;
    width: 12px;
    position: absolute;
    top: 4px;
    background: #222;
}
#player > .knob > .bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}
#player > #master {
    right: 0;
}
#player > #filter {
    left: 0;
}

@media (max-width: 568px), (max-height: 276px) {
    body::after {
        content: "Device too small";
        display: table-cell;
        z-index: 10000000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #111;
        color: white;
        vertical-align: middle;
    }
}
