html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
a {
    outline: 0 none;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
    font-size: 0.8em;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
}

/* DEFAULT */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #111;
    font-family: sans-serif;
    color: #fff;
    font-size: 0em;
    line-height: 1.9em;
    letter-spacing: 0.0em;
    text-align: center;
    white-space: nobreak;
}
body::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 0;
    height: 100%;
}

#player {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    position: relative;
    padding: 0 40px;
    width: 90%;
    height: 90%;
    max-width: 800px;
    max-height: 360px;
    min-width: 378px;
}
@media (max-width: 640px) {
    #player {
        width: 98%;
    }
}
@media (max-height: 320px) {
    #player {
        height: 98%;
    }
}


#player #sources {
    display: block;
    text-align: right;
    position: absolute;
    bottom: 0px;
    left: 40px;
    right: 40px;
    height: 76px;
    line-height: 0;
}
@media (max-width: 680px), (max-height: 240px) {
    #player #sources {
        height: 52px;
    }
}

#player #toggle {
    float: right;
    margin: 2px;
    width: 72px;
    height: 72px;
    border: 3px solid #222;
    border-radius: 6px;
    background: #000 url(images/buttons/play.png) no-repeat center;
    background-size: contain;
}
#player #sources .source.started,
#player.started #toggle {
    border-color: white;
}

#player #sources .source {
    width: 48px;
    height: 48px;
    margin: 2px;
    float: left;
    border: 3px solid #222;
    border-radius: 6px;
    background-color: #000;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 888px) {
    #player #sources .source {
        width: 72px;
        height: 72px;
    }
}
@media (max-width: 680px), (max-height: 240px) {
    #player #toggle {
        width: 48px;
        height: 48px;
    }
}

.clap { background-image: url(images/buttons/claps.png); }
.claves { background-image: url(images/buttons/claves.png); }
.crash { background-image: url(images/buttons/crash.png); }
.drums { background-image: url(images/buttons/drums.png); }
.bass { background-image: url(images/buttons/bass.png); }
.fx { background-image: url(images/buttons/fx.png); }
.arpeggio { background-image: url(images/buttons/arpeggio.png); }
.pad { background-image: url(images/buttons/pad.png); }

#player > #analyzer {
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    bottom: 80px;
}
#player > #analyzer::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 100%;
}
@media (max-width: 480px) {
    #player > #analyzer {
        left: 32px;
        right: 32px;
    }
}
@media (max-width: 680px), (max-height: 240px) {
    #player > #analyzer {
        bottom: 52px;
    }
}

#player > #analyzer > .strip {
    display: inline-block;
    vertical-align: bottom;
    color: white;
    border: 0px solid transparent;
    width: calc(100% / 32);
    height: 100%;
}
#player.lowfft > #analyzer > .strip {
    width: calc(100% / 18);
}

#player > #analyzer > .strip > .led {
    position: relative;
    background: #222;
    width: 100%;
    border: 2px solid #111;
    height: calc(100% / 12);
    background-clip: content-box;
}
#player > #analyzer > .strip > .led.active {
    z-index: 2;
    background: white;
    background-clip: content-box;
}

@media (max-height: 320px), (max-width: 600px) {
    #player > #analyzer > .strip > .led {
        border-width: 1px;
    }
}



#player > .knob {
    position: absolute;
    width: 24px;
    top: 2px;
    bottom: 82px;
    background: #222;
}
#player > .knob > .bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white url(images/led.svg) repeat 0% 100%;
}
#player > #master {
    right: 0;
}
#player > #filter {
    left: 0;
}
@media (max-width: 680px), (max-height: 240px) {
    #player > .knob {
        bottom: 52px;
    }
}


#log {
    position: fixed;
    font-family: monospace;
    font-size: 12pt;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    text-align: right;
}
#log .li {
    
}
